name: todoapp-infra-pipeline
run-name: Deploy by @${{ github.actor }}

permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
      - feature/dev

jobs:          
  terraform-init-plan:
    name: 'Terraform init and plan'
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: 6aa372f4-3288-4271-b002-48c74717e3ad
          tenant-id: 76078fa6-40ac-4f47-af43-9db5e0ff6002
          subscription-id: 5c916523-d8df-42a5-9cb9-71dbddbac301

      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true
        working-directory: ./Environment/Dev

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: ./Environment/Dev

      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: ./Environment/Dev

      - name: Terraform Plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        working-directory: ./Environment/Dev


  security-scan:
    name: 'Security Scan with tfsec'
    runs-on: ubuntu-latest
    needs: azlogin
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run tfsec scan
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ./Environment/Dev

  deploy:
    name: 'Terraform Apply'
    runs-on: self-hosted
    needs: [security-scan]
    if: github.ref == 'refs/heads/main'
    environment: dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: ./Environment/Dev
        
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: 6aa372f4-3288-4271-b002-48c74717e3ad
          tenant-id: 76078fa6-40ac-4f47-af43-9db5e0ff6002
          subscription-id: 5c916523-d8df-42a5-9cb9-71dbddbac301

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./Environment/Dev
