name: "Dev Terraform Workflow"

on:
  pull_request:
    branches:
      - main
      - feature/dev
  push:
    branches:
      - main 
      - feature/dev     

permissions:
  id-token: write
  contents: read
  
jobs: 
  terraform-init-plan:
    runs-on: self-hosted
    steps: 
      - name: Checkout
        uses: actions/checkout@v5.0.0
    
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 81e7d830-77ed-4c3c-839f-10a012f0850b
          tenant-id: 76078fa6-40ac-4f47-af43-9db5e0ff6002
          subscription-id: 5c916523-d8df-42a5-9cb9-71dbddbac301
            
      - name: Terraform fmt
        id: fmt
        run: terraform fmt 
        continue-on-error: true
        working-directory: environment/dev
        
      - name: Terraform Init
        id: init
        run: terraform init -input=false  
        working-directory: environment/dev

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: environment/dev        
      
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        working-directory: environment/dev    
        
  terraform-apply:    
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    needs: terraform-init-plan
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
    
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 81e7d830-77ed-4c3c-839f-10a012f0850b
          tenant-id: 76078fa6-40ac-4f47-af43-9db5e0ff6002
          subscription-id: 5c916523-d8df-42a5-9cb9-71dbddbac301   
          
      - name: Terraform Init
        id: init
        run: terraform init -input=false  
        working-directory: environment/dev

      - name: Terraform Apply
        id: apply
        run: terraform apply --auto-approve
        continue-on-error: true
        working-directory: environment/dev              
          